version: '3.8'

services:
  nginx:
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend
    networks:
      - app-network

  backend:
    build: ./backend
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    volumes:
      - ./backend:/app
      - videos:/app/uploads
    networks:
      - app-network

  worker:
    build: ./worker
    env_file:
      - .env
    depends_on:
      - redis
    volumes:
      - ./worker:/app
      - videos:/app/videos
    networks:
      - app-network

  postgres:
    image: postgres:13
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  redis:
    image: redis:6.2
    networks:
      - app-network

  frontend:
    build: ./frontend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
  videos:
