@import "tailwindcss";

:root {
  --background-start-rgb: 240, 240, 240;
  --background-end-rgb: 255, 255, 255;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 10, 10, 10;
    --background-end-rgb: 25, 25, 35;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
